<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project 2</title>

    <!-- Compiled and minified JavaScript -->
    <link type="text/css" rel="stylesheet" href="../assets/css/glass.css" />
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../assets/css/wine.css" />
    <link type="text/css" rel="stylesheet" href="../assets/css/tequila.css" />
    <link type="text/css" rel="stylesheet" href="../assets/css/beer.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- js file -->
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-database.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

    <!-- FIREBASE - AUTH CDN -->
    <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-auth.js"></script>


    <!-- materalize Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--materalize js file -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript" src="https://leaverou.github.io/prefixfree/prefixfree.min.js"></script>
    <script type="text/javascript" src="../assets/javascript/auth.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Bubbler+One|Gruppo|Inknut+Antiqua|Marcellus|Thasadith&display=swap" rel="stylesheet">

</head>

<body>
   

    <!-- <div id="modal1" class="modal modal-fixed-footer">

        <div class="modal-content">
            <div class="box-right">
                <h3>Age Verification</h3>
                <p>By clicking enter, I certify that I am over the age of 21 and will comply with the above statement.
                </p>

                <a href="#" class="btn btn-alpha" id="agree">Agree</a>

                <p class="decor-line"><span>Or</span></p>

                <a href="#" class="btn btn-beta" id="disagree">Disagree</a>

                <small>Always enjoy responsibily.</small>
            </div>
        </div>

        <div class="overlay-verify"></div>
    </div> -->

    <!-- Modal Trigger -->
  <!-- <a id="modal1" class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Age Verification</h4>
      <p>By clicking enter, I certify that I am over the age of 21 and will comply with the above statement.
    </p>
    </div>
    <div class="modal-footer"> 
     
      <a href="#" class="btn btn-alpha modal-close waves-effect waves-green btn-flat" id="agree">Agree</a>
      <a href="#" class="btn btn-beta modal-close waves-effect waves-green btn-flat" id="disagree">Disagree</a>
    </div>
  </div>
    <!-- Modal Structure -->      

    <div class="row">
        <div class="col s12 m12">
            <div class="jumbotron" id="jumbo">
                <div class="container">
                    <div class="appName">
                        <img src="../assets/images/icon1_.png" alt="">
                        <h1 class="black-text  ">SHOCKTAIL</h1>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col s12 m4">
                <div class="tequila-sunrise">
                    <div class="strow">
                        <div class="strow-bottom"></div>
                        <div class="strow-top"></div>
                    </div>
                    <div class="tequila-glass"></div>
                    <div class="tequila"></div>
                </div>

            </div>
            <div class="col s12 m4">
                <div id="plate">

                    <div id="bottle">
                        <div class="cork"></div>
                        <div class="neck"></div>
                        <div class="body">
                            <div class="label"></div>
                            <div class="label-shadow"></div>
                        </div>
                    </div>

                    <div id="cork">
                    </div>

                    <div id="glass">
                        <div class="bowl">
                            <div class="wine"></div>
                        </div>
                        <div class="stem"></div>
                        <div class="foot"></div>
                    </div>
                </div>

                <!-- <h1>LAST<br/>GLASS</h1> -->
            </div>
            <div class="col s12 m4">
                <div class="wrapper">
                    <div class="glass-wrapper">
                        <div class="glass">
                            <div class="beer">
                                <div class="foam"><span class="foambubble"></span><span class="foambubble"></span><span
                                        class="foambubble"></span><span class="foambubble"></span><span
                                        class="foambubble"></span></div>
                                <div class="bubbles"><span class="bubble"></span><span class="bubble"></span><span
                                        class="bubble"></span><span class="bubble"></span><span
                                        class="bubble"></span><span class="bubble"></span><span
                                        class="bubble"></span><span class="bubble"></span><span class="bubble"></span>
                                </div>
                            </div>
                        </div>
                      
                    </div>

                </div>
              
            </div>
        </div>

        <div class="rowAllCards">
            <div class="colCards  ">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator"
                            src="https://www.tracysnewyorklife.com/wp-content/uploads/2019/05/liquor-bottles-400x400.jpeg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Alcoholic<i
                                class="material-icons right">more_vert</i></span>
                      
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Alcoholic<i
                                class="material-icons right">close</i></span>

                        <div class="container-fluid" id="alcoholicBtn">
                                    <a class="waves-effect waves-light btn-small" data-bool="0" data-id="0">Vodka</a>
                                    <a class="waves-effect waves-light btn-small" data-bool="0" data-id="1">Rum</a>
                                    <a class="waves-effect waves-light btn-small" data-bool="0" data-id="2">Tequila</a>
                                    <a class="waves-effect waves-light btn-small" data-bool="0" data-id="3">Gin</a>
                                    <a class="waves-effect waves-light btn-small" data-bool="0" data-id="4">Whiskey</a>
                                    <a class="waves-effect waves-light btn-small" data-bool="0" data-id="5">Jagermeister</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="colCards ">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator"
                            src="https://southboundvapes.com/wp-content/uploads/2016/06/LEMONLIME-600x600.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Fruits<i
                                class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Fruits<i
                                class="material-icons right">close</i></span>
                        <div class="container-fluid" id="fruitsBtn">
                      
                            <a class="waves-effect waves-light btn-small" data-bool="0" data-id="6">Orange</a>
                            <a class="waves-effect waves-light btn-small" data-bool="0" data-id="7">Banana</a>
                            <a class="waves-effect waves-light btn-small" data-bool="0" data-id="8">Lemon</a>
                            <a class="waves-effect waves-light btn-small" data-bool="0" data-id="9">Pineapple</a>
                            <a class="waves-effect waves-light btn-small" data-bool="0" data-id="10">Lime</a>
                            <a class="waves-effect waves-light btn-small" data-bool="0" data-id="11">Strawberry</a>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="colCards ">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator"
                            src="https://gd.image-gmkt.com/MONIN-SYRUP-700ML-1000ML/li/946/601/804601946.g_400-w_g.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Non-Alcoholic<i
                                class="material-icons right">more_vert</i></span>
                
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 ">Non-Alcoholic<i
                                class="material-icons right">close</i></span>
                        <div class="container-fluid" id="nonAlcoholicBtn">
                                   <a class="waves-effect waves-light btn-small" data-bool="0" data-id="12">Orange Juice</a>
                                    <a class="waves-effect waves-light btn-small" data-bool="0" data-id="13">Milk</a>
                                    <a class="waves-effect waves-light btn-small" data-bool="0" data-id="14"> Coca-Cola</a>
                                    <a class="waves-effect waves-light btn-small" data-bool="0" data-id="15">Soda Water</a>
                                    <a class="waves-effect waves-light btn-small" data-bool="0" data-id="16"> Coffee</a>
                                    <a class="waves-effect waves-light btn-small" data-bool="0" data-id="17"> Sugar Syrup</a>
                                    
                            </div>

                        </div>
                    </div>
                </div>
            </div>
           
        </div>


    </div>

    <div class="submitAndSave">
        <a class="btn waves-effect waves-light" type="button" id="savepref" >Save 
            <i class="material-icons right">done</i>
        </a>
        <a href = "/main" class="btn waves-effect waves-light" type="submit" id="submit" name="action">Go to Main
            <i class="material-icons right">arrow_forward_ios</i>
        </a>
   </div> 

    <script type="text/javascript" src="../assets/javascript/auth.js"></script>
  
  <script>
     
    $(document).on("click", ".btn-small", function () {
        
        var bool = $(this).attr("data-bool");
        if (bool === "0") {

            $(this).attr("data-bool", "1")
            $(this).addClass("red");
            bool = $(this).attr("data-bool");
        }
        else {
            $(this).attr("data-bool", "0")
            $(this).removeClass("red");
            bool = $(this).attr("data-bool");
        }

    })
    

    $(document).on("click", "#savepref", function () {
        var boolArray = [];
        $('a[data-bool]').each(function(){
           // debugger;
            var val = $(this).attr('data-bool')
           boolArray.push(val) 
        })
        var data  = {
            id: userId,
            vodka: boolArray[0],
            rum: boolArray[1],
            tequila: boolArray[2],
            gin: boolArray[3],
            whiskey: boolArray[4],
            jagermeister: boolArray[5],
            orange: boolArray[6],
            banana: boolArray[7],
            lemon: boolArray[8],
            pineapple: boolArray[9],
            lime: boolArray[10],
            strawberries: boolArray[11],
            orange_juice: boolArray[12],
            milk: boolArray[13],
            coca_cola: boolArray[14],
            soda_water: boolArray[15],
            coffee: boolArray[16],
            sugar_syrup: boolArray[17]
            
          };

    //  debugger;
        $.ajax({
          url: "/api/pref",
          method: "POST",
          data: data
        });
    })

    //auth
    var signedInUser;
    var userId;
    firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
            signedInUser = user;
        } else {
            window.location = '/';
        }
       
        $.ajax({
          url: "/api/users/"+signedInUser.uid,
          method: "GET"
        })
        .then(function (user) {
             userId = user.id;
        });
    });

    $(document).ready(function () {
        $('.modal').modal({
            opacity: 1,
            dismissible: false
        });
        $('.modal').modal('open');
    });

    $(document).on("click", "#agree", function () {
        $('.modal').modal('close');
    })

    $(document).on("click", "#disagree", function () {
        alert(
            "You should be at least 21 to enter.",
        )
        $('.modal').modal('open');
        
    })
    

</script>

</body>


</html>